[Unit]
ConditionFileIsExecutable=/opt/bin/kubectl
After=master-download-kubernetes@<ID>.service
Requires=master-download-kubernetes@<ID>.service
Description=Run SkyDNS service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/wget -N -P /root <RC_URL>
ExecStartPre=/usr/bin/wget -N -P /root <SVC_URL>
ExecStartPre=/usr/bin/chmod +x /root/skydns-rc.yaml
ExecStartPre=/usr/bin/chmod +x /root/skydns-svc.yaml
ExecStartPre=/usr/bin/sed -i -e 's/MASTER_IP/<MASTER_IP>/g' /root/skydns-rc.yaml
ExecStart=/usr/bin/bash -c 'if [ -z "$(/opt/bin/kubectl get rc --namespace=kube-system | grep kube-dns)" ]; then /opt/bin/kubectl create -f /root/skydns-rc.yaml; fi'
ExecStart=/usr/bin/bash -c 'if [ -z "$(/opt/bin/kubectl get services --namespace=kube-system | grep kube-dns)" ]; then /opt/bin/kubectl create -f /root/skydns-svc.yaml; fi'
RemainAfterExit=yes

[X-Fleet]
MachineMetadata=kubernetes_role=master
MachineID=<ID>
