[Unit]
ConditionFileIsExecutable=/opt/bin/kube-scheduler
Description=Kubernetes Scheduler
After=master-download-kubernetes@<ID>.service
Requires=master-download-kubernetes@<ID>.service

[Service]
ExecStart=/opt/bin/kube-scheduler \
--api_version=<K8S_API_VERSION> \
--master=127.0.0.1:8080 \
--logtostderr=true
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=kubernetes_role=master
MachineID=<ID>
