[Unit]
ConditionFileIsExecutable=/opt/bin/kube-controller-manager
Description=Kubernetes Controller Manager
Wants=generate-k8s-certs.service
After=master-download-kubernetes@<ID>.service generate-k8s-certs.service
Requires=master-download-kubernetes@<ID>.service

[Service]
ExecStart=/opt/bin/kube-controller-manager \
--master=127.0.0.1:8080 \
--logtostderr=true \
--node-monitor-grace-period=7s \
--pod-eviction-timeout=5s \
--root-ca-file=/srv/kubernetes/ca.crt \
--service-account-private-key-file=/srv/kubernetes/server.key
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=kubernetes_role=master
MachineID=<ID>
